header{
    background-color: #fffff0;
}

#container{
    width: 100%;
    top: 100px;
    position: fixed;
}

body {
    background-color: #fffff0;
    font: 14px Verdana, Arial, sans-serif; /* Embeded fonts with typographical design considerations*/
    h1, h2, h3 {
        font-size: 12px;
    }
    
  padding-top: 100px;
}


@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}


.map-responsive{
    overflow:hidden ;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:2;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
